@import '../../styles/vars.css';

.mark-container {
	position: relative;
	width: 2rem;
	height: 2rem;
	margin: 0 auto;
	fill: var(--color-action);
	transform: rotate(0deg);
	transition-property: transform;
	transition-duration: 0.5s;
	z-index: 1;
}

.mark-logo {
	position: absolute;
	opacity: 1;
	transition: opacity 0s;
}

.mark-arrow {
	position: absolute;
	opacity: 0;
	transition: opacity 0s;
}

.mark-top {
	opacity: 0.5;
}

.mark-left {
	opacity: 0.3;
}

.mark-bottom {
	opacity: 0.4;
}

.mark-slash {
	opacity: 0.8;
}

.mark-container--show-arrow {
	transform: rotate(45deg);
}

.mark-container--show-arrow .mark-logo {
	opacity: 0;
	transition-delay: 0;
}

.mark-container--show-arrow .mark-arrow {
	opacity: 0.4;
}

.mark-container--show-arrow:hover .mark-arrow {
	opacity: 0.8;
}
