/*
----------------------------------------------------------------
	CRAIGZHENG.COM
		main.css
----------------------------------------------------------------
	CONTENTS
		1. Utilities
		2. Base rules
		3. Layout rules
		4. Framework rules
----------------------------------------------------------------
	COLORS
		Dark gray		#222425
		Med gray		#B1B3B4
		Purple			#B96ADC
================================================================
	1. UTILITIES
	   imports, web fonts
-----------------------------------------------------------------
*/

/*
-----------------------------------------------------------------
    2. BASE RULES
       elements, attribute & pseudo-selectors
-----------------------------------------------------------------
*/

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

html {
	font-size: 112.5%;
	font-family: 'Sanchez';
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

body {
	margin: 0;
	padding: 0;
	background-color: #222425;
	color: #B1B3B4;
}

h1, h2, h3 {
	color: #FFFFFF;
	font-weight: normal;
}

h1 {
	margin: 0 0 2rem;
	font-size: 2rem;
}

h2 {
	margin: 0 0 1.5rem;
	font-size: 1.5rem;
}

h3 {
	margin: 0 0 1.25rem;
	font-size: 1.25rem;
}

a {
	color: #FFFFFF;
	font-weight: bold;
	text-decoration: none;
	background-image: linear-gradient(rgba(185, 106, 220, 0.6), rgba(185, 106, 220, 0.6));
	background-repeat: repeat-x;
  background-position: 0 1.15rem;
  background-size: 0.45em 2px;
}

p {
	margin: 0 0 2em;
	line-height: 2rem;
}

/*
-----------------------------------------------------------------
	3. LAYOUT RULES
	   positioning, sizes
-----------------------------------------------------------------
*/

.main-story {
	width: 36rem;
	height: 100vh;
	padding: 6rem 6rem 4rem;
	border-right: 1px solid rgba(255, 255, 255, 0.04);
}

/*
-----------------------------------------------------------------
	4. FRAMEWORK RULES
	   sitewide interface elements
-----------------------------------------------------------------
*/

.logo-mark {
	position: absolute;
	top: 2rem;
	left: 2rem;
	width: 2rem;
	height: 2rem;
	margin-bottom: 3rem;
	fill: #B96ADC;
}

.mark-top {
	opacity: 0.5;
}

.mark-left {
	opacity: 0.3;
}

.mark-bottom {
	opacity: 0.4;
}

.mark-slash {
	opacity: 0.8;
}
